DISCORD_TOKEN=isi_token_bot_discord
CLIENT_ID=isi_application_id_bot
GUILD_ID=isi_server_id_discord

# Channel buat reminder mention user
REMINDER_CHANNEL_ID=isi_channel_id_reminder

# Channel khusus user lapor lewat chat biasa
REPORT_CHANNEL_ID=isi_channel_id_laporan

# Channel untuk log internal bot
LOG_CHANNEL_ID=isi_channel_id_log

# Pisahkan dengan koma. Contoh: 123456789012345678,987654321098765432
REMINDER_USER_IDS=isi_user_id_1,isi_user_id_2

# Default setiap 30 menit dari jam 18:00 sampai 23:30
REMINDER_CRON=0,30 18-23 * * *
TIMEZONE=Asia/Jakarta
